.logo {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.required {
	color: red;
}
.footer {
    font-size: 10px;
}
.job_details {
    padding-left: 40px;
}
.navbar-default {
    background-color: #191970 !important;
}
.modal-header {
    background-color: #191970 !important;
}
.modal-title {
    color: white;
}
.loader-modal {
    height:auto !important;
    width: 150px !important;
    margin-top: 150px !important;
    margin-left: 230px !important;
    overflow:hidden;
}
.success-modal {
    height:auto !important;
    width: 200px !important;
    margin-top: 150px !important;
    margin-left: 200px !important;
    text-align: center;
    padding: 0px;
}
.login-modal  {
    height:auto !important;
    width: 300px !important;
    margin: 0px auto !important;
    overflow:hidden;
}
.register-modal  {
    height:auto !important;
    width: 1150px !important;
    margin-left: -280px !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #191970 !important;
  color: red;
}
select {
    padding: 4px;
}
label {
    padding-top: 4px;
}
.custom-list-group {
    font-size: 12px;
}
.custom-list-group li, 
.custom-list-group a,
.list-group-item{
    padding: 5px;
}
.custom-list-group li, 
.custom-list-group {
    text-align: center;
}
.result-failed {
    color: red;
}
.result-success {
    background-color: green;
    color: white;
}
.invalid-input {
   border: #FF0000 2px solid;
}